body{
    margin: 0px;
    padding: 0px;
    background: #e43a15;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e65245, #e43a15);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e65245, #e43a15); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@-webkit-keyframes glow {
    to {
        text-shadow: 0 0 10px red;
    }
}

.h1-fb{
background-color: #222;
margin: 0px;
padding: 20px;
color:rgb(255, 91, 32);
-webkit-animation: glow .8s infinite alternate;
overflow-x: hidden; 
overflow-y: hidden; 
opacity: 1;
}

#fizzBuzzForm{
    margin-top:15px;
}

#userInput{
    border: 2px solid black;
    padding-bottom: 2px;  /* Fixes dimention - input/button same size*/
    text-decoration: none!important;
}


button {
    border: 2px solid black;
    text-decoration: none;
}

button:hover{
    background-color:#222;
    color:white; 
    text-decoration: none;
}

/* user output */
.fizzbussRow{
    /* border: 2px solid black; */
    margin:15px!important;
    color:white;
    font-size: 20px;
}

.info {
    border: 2px solid black;
    background-color:grey;
    margin:15px!important;
}

.info p {
    margin-top:5px;
    font-size: 15px;
    color:white;
    
}

.content{
    width: 24.25%!important;
    background-color: #222;
    border: 4px solid grey;
    padding: 10px;
    color:white;
}
.space {
    margin-right: 1%!important;
}


@media only screen and (max-width: 600px) {
    .fizzbussRow{
        font-size: 15px;
    }
}

@media only screen and (max-width: 500px) {
    .fizzbussRow{
        font-size: 12px;
    }
}